body {
  background-color: gray;
  max-width: 1300px;
  display: flex;
  justify-content: center;
}

.container{
  display: block;
}

#search_button{
  background-color: blue;
  height: 40px;
  width: 80px;
  font-size: 20px;
  margin-top: 10px;
}

#myInput{
  width: 215px;
}
